<div class="detail">
    <mat-card *ngIf="profile">
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button (click)="back()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
            </div>
            <mat-card-subtitle class="owner">
                <!--<app-owner-info [ownerId]="profile.owner_id"></app-owner-info>-->
            </mat-card-subtitle>
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="start center">
                <h1 class="profilename">{{profile.name | titlecase}}</h1>
                <img class="fit" [src]="profile.picture" alt="house picture">
            </div>
            <div class="my2" fxLayout="row" fxLayoutAlign="center center">
                <div class="room" fxLayout="column" fxLayoutAlign="center center"> 
                    <span class="ml1">AGE : {{ (profile.age + " ans").toUpperCase()}} </span>
                </div>
                
                <div class="room" fxLayout="column" fxLayoutAlign="center center"> 
                    <mat-icon matPrefix>room</mat-icon>
                    <span >VILLE : {{ profile.city.toUpperCase() }}</span>
                </div>
                
            
            </div>
            <div class="description" fxLayout="column"  fxLayoutAlign="center center">
                <p>Description :
                {{ profile.description }}</p>
            </div>
            <div class="date" class="my2" fxLayout="column" fxLayoutAlign="center center">
                <div class="created"><i>Create at: </i> {{ profile.created_at| date: 'longDate'}}</div>
                <div class="updated"><i>Last update: </i> {{ profile.updated_at| date: 'longDate'}}</div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt2">
        <mat-card-title>
            <h2>Contact the owner</h2>
        </mat-card-title>
        <mat-card-content>

            

            <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" fxLayout="column">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Description</mat-label>
                    <mat-icon matSuffix>message</mat-icon>
                    <textarea matInput placeholder="Message for the owner" rows="6" formControlName="message"></textarea>
                    <div fxLayout="row" fxLayoutAlign="end center" class="mt2">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="messageForm.invalid">Send</button>
                    </div>
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
</div>