.detail {
    margin: 20px;
}
.created  {
    font-size: 10px;
}

.title {
    margin: 0;
    margin-top: -15px;
}
.updated {
    font-size: 10px;
}
.owner {
    margin-left: 40px;
}

.profilebar {
    background-color: #e1e1e19f;
    padding-inline: 150px;
    padding-block: 25px;
    border-radius: 15px;
    text-align: center;
}

.description {
    background-color: #e1e1e19f;
    padding-inline: 150px;
    padding-block: 25px;
    border-radius: 15px;
    text-align: center;
}

.description {
    width: 400px;
    height: 200px;
    border-radius: 10px;
}
.room {
    margin: 10px;
    background-color: #0096879f;
    padding-inline: 15px;
    padding-block: 5px;
    border-radius: 25px;
}


.fit {
    width: 100px;
    margin-bottom: 5px;
    border-radius: 50%;
}

.profilename {
    font-weight: 900;
    font-size: xx-large;
    /*
    padding-inline: 150px;
    padding-block: 25px;
    border-radius: 15px;
    text-align: center;*/
}

.message {
    height: 300px;
}