<div class="list">
    <mat-card>
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title class="m0">Profiles available</mat-card-title>
            <button mat-raised-button color="primary" routerLink="create">
                <mat-icon>add</mat-icon>
                <span class="ml1">Create</span>
            </button>
        </mat-card-header>
        <div class="items mt2" fxLayout="row" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let profile of (profiles$ | async)?.profiles" fxFlex>
                <mat-card-header>
                    <mat-card-title>{{ profile.name }}</mat-card-title>
                    <mat-card-subtitle>
                        <!--<app-owner-info [ownerId]="profile.owner_id"></app-owner-info>-->
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="profile.picture" alt="Profile picture">
                <mat-card-content>
                    <p>
                        {{ profile.description }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" [routerLink]="['detail',profile.id]">
                        <mat-icon>search</mat-icon>
                        <span class="ml1">Detail</span>
                    </button>
                    <button *ngIf="profile.owner_id === user?.id" mat-raised-button color="primary"
                        [routerLink]="['update',profile.id]">
                        <mat-icon>edit</mat-icon>
                        <span class="ml1">Edit</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card>
</div>