mat-card {
    background-color: rgba(220, 220, 222, 0.178);
}
.list {
    margin: 20px;
}

.items {
    gap: 2rem;
}

.item {
    width: 100%; /* Ensures full width within the fxFlex */
    height: 375px;
}
.item mat-card-content {
    border-radius: 7px;
    overflow: hidden; /* Assurez-vous que l'image ne dépasse pas du conteneur arrondi */
}
.fit {
    margin: 0;
    height: 200px;
    border-radius: 7px;
}

mat-card-actions {
    margin: 0;
    padding: 0;
}

mat-card-title {
    padding-bottom: 20px;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}